{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block messages %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
	<strong>Error in the form!</strong> Please correct the errors.
</div>
{{ form.errors }}
{% endif %}
{% if messages %}
<div class="alert alert-info" role="alert">
	<ul class="list-unstyled">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="login-container">
	<h2>Registration</h2>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<label for="profile_image">Profile Image:</label>
			<input type="file" name="profile_image" id="photo1" accept="image/*">
		</div>
		<div class="form-group">
			<label for="cover_image">Cover Image:</label>
			<input type="file" name="cover_image" id="photo2" accept="image/*">
		</div>
		<div class="form-group">
			<label for="additional_image">Additional Image:</label>
			<input type="file" name="additional_image" id="photo3" accept="image/*">
		</div>
		<div class="form-group">
			<input type="submit" value="Confirm" id="register_button">
		</div>
	</form>
</div>

<script>
	document.addEventListener('keydown', function (event) {
		if (event.key === 'Enter') {
			event.preventDefault();
			document.getElementById('register_button').click();
		}
	});
</script>
{% endblock %}