{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block messages%}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <strong>Error in the form!</strong> Please correct the errors.
</div>
{{ form.errors }}
{% endif %}
{% if messages %}
<div class="alert alert-info" role="alert">
    <ul class="list-unstyled">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Registration</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="form-group">
            <input type="submit" value="Continue" id="register_button">
        </div>
        </form>
</div>

<script>
    document.getElementById('first_name').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            document.getElementById('last_name').focus();
        }
    });

    document.getElementById('last_name').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            document.getElementById('register_button').click();
        }
    });
</script>
{% endblock %}