{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block messages%}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <strong>Error in the form!</strong> Please correct the errors.
</div>
{{ form.errors }}
{% endif %}
{% if messages %}
<div class="alert alert-info" role="alert">
    <ul class="list-unstyled">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Registration</h2>
    <form method="post" action="#">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <!-- First Name -->
                <div class="form-group">
                    <label for="first_name">First Name<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="first_name" name="first_name" maxlength="30" required>
                </div>
                
                <!-- Age -->
                <div class="form-group">
                    <label for="age">Age<span style="color: red;">*</span></label>
                    <input type="number" class="form-control" id="age" name="age" required>
                </div>

                <!-- Sex -->
                <div class="form-group">
                    <label for="sex">Sex<span style="color: red;">*</span></label>
                    <select class="form-control" id="sex" name="sex" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

                <!-- Last Name -->
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" maxlength="30" required>
                </div>

                <!-- Telegram -->
                <div class="form-group">
                    <label for="telegram">Telegram</label>
                    <input type="text" class="form-control" id="telegram" name="telegram" maxlength="100">
                </div>
            </div>
            <div class="col-md-6">
                <!-- Description -->
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                </div>

                <!-- Hobby -->
                <div class="form-group">
                    <label for="hobby">Hobby</label>
                    <input type="text" class="form-control" id="hobby" name="hobby" maxlength="100" required>
                </div>

                <!-- Main Goal -->
                <div class="form-group">
                    <label for="main_goal">Main Goal</label>
                    <select class="form-control" id="main_goal" name="main_goal" required>
                        <option value="dating">Dating</option>
                        <option value="friendship">Friendship</option>
                    </select>
                </div>

                <!-- Instagram -->
                <div class="form-group">
                    <label for="inst">Instagram</label>
                    <input type="text" class="form-control" id="inst" name="inst" maxlength="100">
                </div>

                <!-- X Network -->
                <div class="form-group">
                    <label for="x_network">X Network</label>
                    <input type="text" class="form-control" id="x_network" name="x_network" maxlength="100">
                </div>
            </div>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>]
</div>

<script>
    function checkFormData(event) {
        let form = document.getElementById('register_form');
        let inputs = form.getElementsByTagName('input');
        let empty = false;
        for (let i = 0; i < inputs.length; i++) {
            if (inputs[i].value === '') {
                empty = true;
                break;
            }
        }
        if (empty) {
            event.preventDefault();
            alert('Please fill in all the fields');
        }
    }
</script>
{% endblock %}