<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">HeartBridge</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<div class="ml-auto">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/chat">Message </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/profile">Profile</a>
				<li class="nav-item">
					<a class="nav-link" href="/auth/logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>